* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	height: 100%;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

button,
input,
select {
	border: none;
	outline: none;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/*----------------- SITE HEADER START --------------------*/
.site-header {
	width: 100%;
	background-color: #f8f8fa;
	padding: 12px 0;
}

.site-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header__search-form-wrapper {
	display: flex;
}

.form-element {
	padding: 10px 16px;
	background-color: #fff;

	font-size: 14px;
	font-weight: 400;
	line-height: auto;
	letter-spacing: -0.2px;
	border-radius: 2px;
}

.site-header__search-form-input {
	width: 261px;

	background-image: url('../images/search.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 16px) center;

	border-left: 1px solid #e0e0e0;
}

.site-header__search-form-input::placeholder {
	font-size: 14px;
	font-weight: 400;
	line-height: auto;
	letter-spacing: -0.2px;
	color: #000;
	opacity: 30%;	
}

.site-header__end-wrapper {
	display: flex;
	gap: 14px;
}

.site-header__operator-form-select {
	padding-left: 32px;
	background-image: url('../images/phone-call.svg');
	background-repeat: no-repeat;
	background-position: calc(10%) center;
}

.site-header__user-form-select {
	padding-left: 32px;
	background-image: url('../images/user.svg');
	background-repeat: no-repeat;
	background-position: calc(10%) center;
}
/*----------------- SITE HEADER END --------------------*/
